* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	color: white;
	background-color: #333;
	text-align: center;
}

button {
	color: white;
	background-color: #333;
	border: 1px solid green;
}
#logo {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

input, button, select {
	display: block;
	margin: 0 auto;
}


#homepage button {
	
	margin-top: 10px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
}

#homepage span {
	font-size: 23px;
	font-weight: 700;
}

#getpage span {
	font-size: 18px;
}
#getpage button, #getpage input, #message, #arquivoscsv {
	width: 300px;
	height: 50px;
	margin-top: 10px;
}

#back-button {
	position: absolute;
	left: 20px;
	top: 450px;
}

/* fa fa-arrow-left */

#rules {
	font-size: 12px;
	padding-top: 5px;
}